PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<AppName>

INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

STREAM_API_KEY=
STREAM_API_SECRET=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

CLIENT_URL=http://localhost:5173

DEV_AUTH_BYPASS=false
REDIS_URL=redis://localhost:6379
PISTON_API_URL=https://emkc.org/api/v2/piston
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
JUDGE0_AUTH_TOKEN=
